<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="挖挖社交-专为工程机械行业打造的社交软件">
    {% block title %} {% endblock %}

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <link rel="stylesheet" href="/static/css/detail_base.css">

    <script src="/static/js/swiper.jquery.min.js"></script>

    <link rel="stylesheet" href="/static/css/swiper.min.css">
</head>

<!--body默认margin为8-->
<body style="background-color: #f2f4f7;
      margin: 0">
<header style="height: 60px;
            z-index: 10;
            width: 100%;
            position: fixed;
            top: 0;
            background-color: #fff">
    <div style="height: 100%;
                    margin: 0 13px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;">
        <div style="flex: 0; height: 50px">
            <img src="/static/img/header.png" height="50px">
        </div>
        <div style="flex: 0; height: 34px">
            <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.jmheart.mechanicsbao">
                <img src="/static/img/downapp.png" height="34px">
            </a>
        </div>
    </div>
    <div style="width: 100%; height: 1px; background-color: #f2f4f7"></div>
</header>

<article>
    {% block main %} {% endblock %}
</article>

<footer style="height: 50px;
                width: 100%;
                margin-top: 40px;">
    <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.jmheart.mechanicsbao">
    <img src="/static/img/advert-app.png" style="margin-left:2%; width: 96%; margin-bottom: 60px">
    </a>
</footer>
</body>


</html>

