{% extends "./detail_base.html" %}

{% block title %}
<title> 【招聘信息】{{ description }} </title>
{% endblock %}

{% block main %}

<!--用户-->
<section>
    <div class="block">
        <!--上半部分-->
        <div class="block-user">
            <!--头像-->
            <div class="block-user-avatar">
                <img src="{{ avatarPath }}"/>
            </div>
            <!--右边-->
            <div class="block-user-info">
                <div class="nickname">
                    {{ nickname }}
                </div>
                <div class="time">
                    {{ addtime }}
                </div>
            </div>
        </div>
        <!--具体描述-->
        <div class="block-description">
            {{ description }}
        </div>
    </div>
</section>

<!--第一部分-->
<section>
    <div class="block">
        <!--姓名-->
        <div class="block-cell">
            <div class="label">姓名</div>
            <span class="vertical">|</span>
            <div class="text">{{ surename }}</div>
        </div>
        <div class="block-line"></div>
        <!--性别-->
        <div class="block-cell">
            <div class="label">性别</div>
            <span class="vertical">|</span>
            <div class="text">{{ sex }}</div>
        </div>
        <div class="block-line"></div>
        <!--工作经验-->
        <div class="block-cell">
            <div class="label">工作经验</div>
            <span class="vertical">|</span>
            <div class="text">{{ jobback }}</div>
        </div>
    </div>
</section>

<!--第二部分-->
<section>
    <div class="block">
        <!--学历-->
        <div class="block-cell">
            <div class="label">学历</div>
            <span class="vertical">|</span>
            <div class="text">{{ educational }}</div>
        </div>
        <div class="block-line"></div>
        <!--职位-->
        <div class="block-cell">
            <div class="label">职位</div>
            <span class="vertical">|</span>
            <div class="text">{{ jobtype }}</div>
        </div>
        <div class="block-line"></div>
        <!--期望薪资-->
        <div class="block-cell">
            <div class="label">期望薪资</div>
            <span class="vertical">|</span>
            <div class="text">{{ salary }}/月</div>
        </div>
    </div>
</section>

<!--第三部分-->
<section>
    <div class="block">
        <!--联系电话-->
        <div class="block-cell">
            <div class="label">联系电话</div>
            <span class="vertical">|</span>
            <div class="text">
                {{ phone }}
                <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.jmheart.mechanicsbao"
                   class="text-tail">下载App查看
                </a>
            </div>
        </div>
        <div class="block-line"></div>
        <!--工作地点-->
        <div class="block-cell">
            <div class="label">期望区域</div>
            <span class="vertical">|</span>
            <div class="text">{{ workplace }}</div>
        </div>
    </div>
</section>

{% endblock %}